node_modules
.NEXT
.next
dist
build
.env
.env.local
.env.*.local
apps/api/.env
apps/web/.env.local
*.log
.DS_Store
coverage
.turbo
.vercel
*.tsbuildinfo
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
*.db
*.db-journal
